* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.container {
  width: 1180px;
  margin: 0 auto;
}

/* HEADER */
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-right: 100px;
}
.header__menu {
  display: flex;
  margin-right: 160px;

  font-size: 16px;
  color: #1e266d;
  align-self: flex-end;
}
.header__menu-item {
  margin-right: 50px;
  position: relative;
  transition: all 0.3s;
}
.header__menu-item:hover {
  color: #ff2e6a;
}
.header__menu-item:hover::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 55%;
  width: 10px;
  height: 10px;

  background-image: url("../img/header/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.header__menu-item:last-child {
  margin-right: 0px;
}
.header__phone {
  margin-right: 35px;
  font-size: 16px;
  color: #1e266d;
  line-height: 100px;
}
.header__contact {
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0 15px;

  background: #3751ff;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
}
.header__contact:hover {
  background: #1d39ec;
}
/* HERO */
.hero__inner {
  padding-top: 150px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%
  );
  border-radius: 0px;
}
.hero__title {
  font-size: 56px;
  line-height: 60px;
  color: #1e266d;
  margin-bottom: 30px;
}
.hero__text {
  font-size: 18px;
  line-height: 30px;
  color: #455880;
  margin-bottom: 30px;
}
.hero__button {
  padding: 15px 40px;
  font-size: 16px;
  color: #455880;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;

  outline: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
}
.hero__button-buy {
  margin-right: 25px;
}
.hero__button:hover {
  background: #3751ff;
  color: #ffffff;
}
.hero__img {
  display: block;
  margin: 0 auto;
}

/* SERVICES */
.services__inner {
  padding-top: 70px;
  text-align: center;
}
.services__text {
  font-size: 16px;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
  padding-bottom: 50px;
}
.services__list-items {
  display: flex;
  justify-content: space-between;
}
/* BENEFITS */

.benefits__inner {
  padding-top: 170px;
  text-align: center;
}
.benefits__inner-text {
  font-size: 48px;
  line-height: 60px;
  color: #1e266d;
}
.benefits__inner-main {
  display: flex;
  padding-top: 35px;
}
.benefits__inner-picture {
  width: 590px;
  margin-right: 140px;
}
.benefits__inner-info {
  padding-top: 80px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.benefits__info-container {
  display: flex;
}
.benefits__info-logo {
  width: 60px;
  height: 60px;
  margin-right: 50px;
}
.benefits__text-container {
  text-align: left;
}
.benefits__info-title {
  font-size: 22px;
  line-height: 125%;
  color: #1e266d;
  padding-bottom: 40px;
}
.benefits__info-text {
  font-size: 18px;
  line-height: 27px;
  color: #455880;
}
.benefits__line {
  margin-top: 50px;
  width: 405px;
  border: 1px solid rgba(69, 88, 128, 0.2);
}

/* DESIGN */
.design {
  background-color: #fff9ea;
}
.design__inner {
  padding-top: 175px;
  text-align: center;
}
.design__inner-title {
  font-size: 48px;
  line-height: 60px;
  color: #1e266d;
}
.design__inner-text {
  padding-top: 40px;
  font-size: 21px;
  line-height: 150%;
  color: #455880;
}
.design__button {
  margin-top: 40px;
  padding: 15px 40px;
  font-size: 16px;
  color: #ffffff;

  background: #3751ff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;

  outline: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
}
.design__button:hover {
  background: #1837fc;
}
.design__image {
  position: relative;
  top: -400px;
  left: -190px;
  margin-bottom: -400px;
}

/* REVIEWS */
.reviews__inner {
  padding-top: 230px;
  text-align: center;
}
.reviews__title {
  font-size: 48px;
  line-height: 60px;
  color: #1e266d;
}
.reviews__inner-blocks {
  display: flex;
  justify-content: center;
}
.reviews__inner-block {
  padding: 40px 40px;
  margin-right: 30px;
  width: 370px;
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
}
.reviews__inner-block:last-child {
  margin-right: 0px;
}
.reviews__inner-text {
  font-size: 18px;
  line-height: 180%;
  color: #455880;
  height: 245px;
  text-align: left;
}
.reviews__customer-name {
  font-size: 22px;
  line-height: 125%;
  color: #1e266d;
  margin-top: 25px;
}
.reviews__customer-company {
  font-size: 18px;
  line-height: 180%;
  color: #455880;
}
/* LAUNCH */
.launch {
  background: #3751ff;
  margin-top: 150px;
}
.launch__inner {
  padding: 90px 0px 115px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.launch__inner-text {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;

  color: #ffffff;
}
.launch__contact-button {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: 15px 30px;
  margin-bottom: 20px;

  outline: none;
  border: none;
  cursor: pointer;

  font-size: 18px;
  line-height: 110%;
  color: #455880;

  transition: all 0.3s;
}
.fa-solid,
.fa-envelope {
  color: #53c07e;
  margin-right: 10px;
}
.launch__contact-button:hover {
  background: linear-gradient(45deg, #e4faed, #dbf6fa);
}
.launch__contact-text {
  font-size: 16px;
  line-height: 125%;
  color: #dfe0eb;
}
.footer__inner {
  margin-top: 125px;
  display: flex;
  justify-content: space-around;
}
.footer__inner-logo {
  margin-bottom: 35px;
}
.footer_info-text {
  width: 310px;
  font-size: 18px;
  line-height: 145%;
  color: #455880;
}
.footer__pages-title,
.footer__demos-title,
.footer__resources-title {
  font-size: 22px;
  line-height: 125%;
  color: #1e266d;
  margin-bottom: 35px;
}
.footer__pages-item,
.footer__demos-item,
.footer__resources-item {
  font-size: 18px;
  line-height: 225%;
  color: #455880;
}

.footer__recources-logo {
  margin-right: 25px;
}
.footer__recources-logo:last-child {
  margin-right: 0px;
}
.footer__additional {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;

  font-size: 14px;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
}
.footer__list {
  display: flex;
  /* justify-content: space-between; */
}
.footer__list-item {
  font-size: 14px;
  line-height: 27px;
  text-align: right;

  color: #455880;
}
